name: demo

on:
  push:
    branches:
      - master

defaults:
  run:
    working-directory: cicd

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "hello"
        with:
          working-directory: cicd

