
name : demo env
on: 
  push:
    branches:
      - '*'
      - '!master'

jobs:
    dev:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v1
    provisionProd:
      runs-on: ubuntu-latest
      needs: dev
      environment:
        name: dev
        url: https://github.com/rohan2603/selection/
      steps:
      # Checkout
        - name: Checkout
          uses: actions/checkout@v1

  
