name: workflow1
on:
  push:
    branches:
      - test
  pull_request:
    branches:
      - test

jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step-1
        run: echo "workflow 1"


