---

name: GCP Services Deployment
on: 
  workflow_dispatch:
    inputs:
      GCP_Service:
        type: choice
        description: Resource to be created  
        options:
          - bucket
          - cloud function  
        required: true


jobs:
  services_deployment:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.GCP_Service == 'bucket' }}
    steps:
      - uses: actions/checkout@v2
      - name: print
        run: echo "gcp bucket"
      - name: Setup Pythom
        uses: actions/setup-python@v2
        with: 
          python-version: 3.8
      - name: Execute Python code
        run: |
          INPUT_STORE=${{ github.event.inputs.GCP_Service }} python bucket.py

    
        