---

name: GCP Services Deployment
on: 
  workflow_dispatch:
    inputs:
      GCP_Service:
        type: choice
        description: Resource to be created  
        options:
          - bucket
          - cloud function  
        required: true
      Name:
        description: 'name of the resource to be created'
        required: true
      Region:
        description: 'Region where to be created'
        required: true

jobs:
  GCP_Bucket_Deployment:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.GCP_Service == 'bucket' }}
    steps:
      - uses: actions/checkout@v2
      - name: print
        run: echo "gcp bucket"
      - name: Setup Pythom
        uses: actions/setup-python@v2
        with: 
          python-version: 3.8
      - name: Execute Python code
        run: |
          demo_input=${{ github.event.inputs.Name }}, INPUT_STORE=${{ github.event.inputs.GCP_Service }} python bucket.py

  GCP_Cloud_Function_Deployment:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.GCP_Service == 'cloud function' }}
    steps:
      - uses: actions/checkout@v2
      - name: print
        run: echo "gcp cloud function"
      - name: Setup Pythom
        uses: actions/setup-python@v2
        with: 
          python-version: 3.8
      - name: Execute Python code
        run: python cloud_function.py

    
        