---

name: GCP Services Deployment
on: 
  workflow_dispatch:
    inputs:
      GCP_Service:
        type: choice
        description: Resource to be created  
        options:
          - Storage Bucket
          - Cloud function  
        required: true
      Name:
        description: 'name of the resource to be created'
        required: true
      Region:
        description: 'Region where to be created'
        required: true

jobs:
  GCP_Bucket_Deployment:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.GCP_Service == 'Storage Bucket' }}
    steps:
      - uses: actions/checkout@v2
      - name: print
        run: echo "gcp bucket"
      - name: Setup Pythom
        uses: actions/setup-python@v2
        with: 
          python-version: 3.8
      - name: Execute Python code
        run: |
          name_of_bucket=${{ github.event.inputs.Name }} region=${{ github.event.inputs.Region }} python Python_scripts/bucket.py

  GCP_Cloud_Function_Deployment:
    runs-on: ubuntu-latest
    if: ${{ github.event.inputs.GCP_Service == 'Cloud Function' }}
    steps:
      - uses: actions/checkout@v2
      - name: print
        run: echo "gcp cloud function"
      - name: Setup Pythom
        uses: actions/setup-python@v2
        with: 
          python-version: 3.8
      - name: Execute Python code
        run: python cloud_function.py

    
        