name: Sonarqube
on:
  repository_dispatch:
    types: [trigger-workflow-2]
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.client_payload.sha }}
      - name: my-step-3
        run: echo "workflow3"