name: yamllint 
on:
  push:
    branches:
      - test
  pull_request:
    branches:
      - test
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Run action
      uses: jacobtomlinson/gha-lint-yaml@master
      with:
        path: .github/workflows/yamlint.yaml


