name: yamllint 
on:
  push:
    branches:
      - test
  pull_request:
    branches:
      - test
jobs:
  yamllint:
    name: 'Yamllint'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: 'Yamllint'
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_file_or_dir: .github/workflows/yamlint.yaml
          yamllint_strict: false
          yamllint_comment: true

